<h2 class="p-6 font-bold" >{{title}}</h2>
<ul>
  <li *ngFor="let course of courses" class="px-6" >
    Title: {{ course.title | uppercase}}<br />
    Students: {{ course.students}}<br />
    Rating: {{ course.rating | number:'1.1-2' }}<br />
    Price: {{ course.price | currency:'EUR'}}<br />
    Release date: {{ course.releaseDate | date:'shortDate'}}<br />
    <favorite [is-favorite]="post.isFavorite"></favorite>
    <hr class="my-6">
  </li>
  <p class="m-6">{{text | summary:10}}</p>
</ul>
<input type="text" [(ngModel)]="inputText" (keyup)="onKeyUp()" class="m-6 p-2 border border-gray-400 rounded-lg">
<p class="px-6">{{inputText | titleCase}}</p>
