<h1 class="p-6 font-bold text-blue-500 text-4xl">Angular</h1>
<courses></courses>
<tailwind-panel >
  <ng-container class="heading">Heading</ng-container>
  <div class="body">
    <h2>Body</h2>
    <p>Some Content</p>
  </div>
</tailwind-panel>
<app-like
  [likesCount]="tweet.likesCount"
  [isActive]="tweet.isLiked">
</app-like>
<section class="pt-6 pl-6">
  <div *ngIf="courses.length > 0; then coursesList; else noCourses"></div>
    <ng-template #coursesList>
      List of courses
    </ng-template>
    <ng-template #noCourses>
      No courses yet...
    </ng-template>
</section>
<section class="pl-6">
  <div [hidden]="courses.length == 0">List of courses</div>
  <div [hidden]="courses.length > 0">No courses yet</div>
</section>
<hr class="pb-2">
<ul class="pl-6">
  <li *ngFor="let lesson of lessons; index as i">{{i}}-{{lesson.name}}</li>
</ul>
<hr class="pb-2" >
<ul class="pl-6">
  <li *ngFor="let lesson of lessons; even as isEven">{{lesson.name}}<span *ngIf="isEven">(Even)</span></li>
</ul>
<a class="text-blue-500 pl-6" href="https://angular.io/api/common/NgForOfhttps://angular.io/api/common/NgForOf">Exported variables</a>
<authors></authors>
