<section  class="bg-white">
  <app-hero></app-hero>
  <div class="flex-grow container mx-auto px-4 py-2">
    <app-status></app-status>
  </div>
  <app-featured-courses></app-featured-courses>
  <div class="flex-grow container mx-auto px-4 py-2">
    <div class="text-center">Bläddra bland toppkategorier</div>
    <div class="text-center">Toppinstruktörer</div>
    <div class="text-center">Vad våra studenter säger</div>
    <div class="text-center">Redo att påbörja din läranderesa?</div>
  </div>
</section>
