<form [formGroup]="form">
    <input formControlName="name" type="text" class="form-control">
    <div formGroupName="contact">
      <input fomControlName="email" type="text" class="form-control">
      <input fomControlName="phone" type="text" class="form-control">
    </div>
    <input
    type="text"
    class="form-control"
    #topic
    (keyup.enter)="addTopic(topic)" >
    <ul class="list-group">
      <li
        *ngFor="let topic of topics?.controls"
        (click)="removeTopic(topic)"
        class="list-group-item">{{topic.value}}</li>
    </ul>
</form>
