<div class="flex-grow container mx-auto px-4 py-8 h-screen">
  <h2 class="px-6 font-bold mt-8">List of authors</h2>
  <h2 class="px-6 font-bold mt-8">{{ authors.length }} Authors</h2>
  <ul>
    <li *ngFor="let author of authors" class="px-9 text-green-500">
      {{ author }}
    </li>
  </ul>
  <div class="flex flex-row px-6 py-2">
    <img src="{{ imageUrl }}" class="mr-2" />
    <img [src]="imageUrl" />
  </div>
  <table>
    <tr>
      <td [attr.colspan]="colSpan"></td>
    </tr>
  </table>
  <div (click)="onDivClick()" class="flex flex-row">
    <button
      class="bg-blue-600 text-white font-bold mx-6 p-2 border border-black rounded-lg"
      [class.active]="isActive"
      (click)="onSave($event)"
    >
      Save
    </button>
    <button
      class="text-white font-bold mx-6 p-2 border border-black rounded-lg"
      [style.backgroundColor]="isActive ? 'red' : 'blue'"
    >
      Submit
    </button>
  </div>
  <input
    [(ngModel)]="email"
    (keyup.enter)="onKeyUp()"
    class="m-6 p-2 border border-gray-400 rounded-lg"
  />
</div>
